/*
------------
CONFIGURACON GLOBALES DEL DOM
------------
*/

*{
    margin: 0;
    padding: 0;
}

/*
------------
 ESTILO DEL CONTENEDOR DEL FORMULARIO
------------
*/
.contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #ffffff;

}

/*
---------------------------------
ESTILOS Y POSICION DEL FORMULARIO
---------------------------------
*/

.formulario{
    height: auto ;
    padding: 10px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 27px 27px 55px #d9d9d9,
    -27px -27px 55px #ffffff;
}
/*
----------------------------------
ESTILOS DE LOS H3 EN EL FORMULARIO
----------------------------------
*/

h3{
 align-self: center;   
}

/*
---------------------------------
ESTILOS DE LA CAJA DEL FORMULARIO
---------------------------------
*/

.caja{
    margin-top: 50px;
}

/*
----------------------------------
ESTILO DE LOS HIJOS DEL FORMULARIO
----------------------------------
*/

.formulario-children {
    width: 400px;
    height: auto;
}

/*
------------------------------------------
ESTILOS DE LA CAJA DE TEXTO DE FORMULARIOS
------------------------------------------
*/

.input-group {
    margin-top: 30px;
    
}

/*
-------------------------------------------------
ESTILOS DE LOS SELECTS DE OPCION EN EL FORMULARIO
-------------------------------------------------
*/

.form-select{
    margin-top: 10px;
}
/*
-------------------------------------------------------
ESTILOS DE LOS BOTONES DE LOS BOTONES DE LOS FORMULARIO
-------------------------------------------------------
*/
.btn {
    margin-top: 10px;
    margin-left: 10px;
}