/* 
-------------------------
ESTILO DEL FORMULARIO ACTUALIZAR
-------------------------
*/

* {
	font-family: 'Poppins', sans-serif;
}

/* estilos de contenedor */
.contenedor {
	margin-top: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	width: 100%;
	margin-bottom: 100px;
}
/* estilos de contenedor imagen */

.img img {
	grid-column: 2;
}
/* posicionamiento del formulario con estilos */

.formulario {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formulario form {
	width: 50%;
}

.formulario2 {
	margin-top: 100px;
	width: 50%;
}

.formulario form-control {
	width: 50%;
}

#titulo {
	font-size: 40px;
	font-weight: 900;
}

.formulario label {
	margin-top: 30px;
}

.btn {
	margin-top: 20px;
}
[id='sino'] p {
	font-size: 12px;
	color: blue;
}

/* configuracion de la barra lateral del formulario */
body::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: rgb(248, 248, 248); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(107, 104, 104, 0.548); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid rgb(241, 241, 241); /* creates padding around scroll thumb */
}
